body {
    font-family: 'Archivo Black', sans-serif;
    background: url(fundo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

/*bug chrome scroll*/
    @media screen and (min-width: 400px) {  
            body {
                overflow: hidden;
            }
        }

.esconde {
    /*fadeout*/
    font-size: 2vw;
    opacity: 1;
    transition: .5s opacity;
    height:100vh;
}

bg {
    position: fixed;
    background: url(Gaea/videopag.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 
}

.gaea_bg {
    background: url(Gaea/videocapa.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}

.ciclo_bg {
    background: url(ciclo/Divulgacao.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  
}

.desejo_bg {
    background: url(Desejo/e.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 
}

.latada_bg {
    background: url(Latada/moullinex.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.murals_bg {
    background: url(murals/main.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.fade-out {
    opacity: 0;
    transition: none;
}

nav {
    margin-top: 1%;
    overflow: hidden;
    position: fixed;
    top: 0;
}

nav a {
    padding-top: 2.5%;
    padding-bottom: 0;
    padding-right: 0;
    margin-left: 3%;
    color: white;
    font-size: 1.35vw;
    letter-spacing: 0;
    opacity: 1;
    text-align: left;
    transition-duration: .6s;
    transition-timing-function: ease;
}

nav a:hover,
nav a:active {
    text-decoration: none;
    color:white;
    opacity: 0.25;
    letter-spacing: 2px;
    transition-duration: .4s;
    transition-timing-function: ease;
}

.lat_color {
    color: black;
    transition: 1s color;
}

#empty {
    height: 10%;
}

#container-main {
    padding-top: 5%;
}

.areas {
    margin-top: 2.5%;
    padding-left: 5%;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1.5vw;
    color: white;
    position: fixed;
}

.num {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1.2vw;
    padding-right: 2%;
    color: white;
    text-align: right;
    vertical-align: text-top;
}

.numtransp {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1.2vw;
    padding-right: 2%;
    color: white;
    text-align: right;
    vertical-align: text-top;
    opacity: 0;
}

.list {
    font-size: 4.6vw;
    color: white;
    padding: 0;
}

.list p {
    line-height: 100%;
}

p br {
    margin-top: 50px;
}

.list a {
    color: white;
    text-decoration: none;
}

.selected {
    text-decoration: line-through;
    font-style: italic;
    transition-duration: .6s;
    transition-timing-function: ease;
}

.op {
    opacity: 0.25;
    transition-duration: .6s;
    transition-timing-function: ease;
}

#follow {
    position: absolute;
    z-index: 0;
}

#follow2 {
    position: absolute;
    z-index: 0;
}

.inf {
    z-index: 2;
}

#not_responsive{
    display: none;
}

/*--------------*/

@media only screen and (max-device-width: 1160px){
    
  #not_responsive{
    display: flex;
    margin-top:50%;
    margin-left:20%;
}
    
      #loader{
    display: none;
}
    
    .esconde{
        display:none;
    }
    
}