html,
body {
    margin:0;
    overflow-x: hidden;
    font-family: 'Archivo Black', serif;
}

body{
    background: url(thisis.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    overflow-x: hidden;
}

p {
     margin-left:5%;
    margin-right:10%;
    margin-bottom: 10%;
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: left;
    position: absolute;
    z-index: 5;
    
}


#main {
    position: absolute;
   width:100%;
    height:150%;
     background-color:red;
}

#thisis{
    font-family: 'Archivo', serif;
    text-decoration:underline;
    cursor: no-drop;
}


#line{
    text-decoration:line-through;
}

#eczar{
    text-transform: none;
    font-family: 'Eczar', serif;
}

input{
    z-index:0;
    font-size: 15rem;
}